<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MealPlanner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
      @if(authenticationService.currentUser() === null || authenticationService.currentUser()?.hasDoneSetup === true)
      {

        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="true">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cookwares" routerLinkActive="true">Cookware</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ingredients" routerLinkActive="true">Ingredients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mealplans" routerLinkActive="true">Meal Plans</a>
        </li>
      }
      @else if (authenticationService.currentUser() !== null && authenticationService.currentUser()?.hasDoneSetup === false){
          <li class="nav-item">
            <a class="nav-link" routerLink="/setup-selection" routerLinkActive="true">Setup preferences</a>
          </li>
      }
      </ul>
      <div class="d-flex">
        @if(authenticationService.currentUser())
        {
        <a class="btn btn-outline-light" type="button" routerLink="/member-details" routerLinkActive="true">Profile</a>
        }
        @if(!authenticationService.currentUser())
        {
        <a class="btn btn-outline-light" type="button" routerLink="/auth">Login</a>
        }
        @else
        {
        <button class="btn btn-outline-light" type="button" (click)="logout()">Logout</button>
        }
      </div>
    </div>
  </div>
</nav>
